.pib-dept-card {
  width: 95%;
  /* margin: 5%; */
  /* height: 30%; */
  height: fit-content;
  border-radius: 20px;
  padding: 5px;
  background: linear-gradient(355deg, #87acce, rgb(94, 174, 239));
  /* background: linear-gradient(355deg, #87acce, #debbf2); */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: rgb(25, 23, 23);
  cursor: pointer;
}

.pib-dept-card-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 90%;
  width: 75%;
  padding: 2.5%;
}

.pib-dept-card-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20%;
  height: 90%;
  justify-content: space-evenly;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5vw;
  font-weight: 900;
  padding-right: 5px;
}

.pib-dept-name {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}

.pib-dept-rank {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  font-weight: 600;
}

.pib-dept-caption {
  font-size: 15px;
}

.pib-dept-pos,
.pib-dept-nut,
.pib-dept-neg {
  padding: 5%;
  text-align: center;
}

.pib-dept-pos-num,
.pib-dept-nut-num,
.pib-dept-neg-num {
  font-size: 20px;
}

.pib-tab-inner-wrapper {
  width: 100%;
  margin: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-height: 40%;
}
