.pib-search {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#pib-search-bar {
  height: 100%;
  width: 60%;
  /* object-fit: cover; */
  padding: 5px;
  margin: 0;
  font-size: 1.5vw;
}

.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
  color: #ffff;
}

.MuiChip-label {
  color: #fff;
}

.MuiChip-root[class*="MuiChip-filled"] {
  background-color: #525157;
}

#tags-outlined-label {
  color: #b2a6a6;
}
